{% extends "blog/base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1 style="margin-bottom: 30px ;">About Blog:</h1>
    <h3>The Blog aims towards a proper career guidance for students through the authors that've done superior work in that field. </h3>
    <p style="margin-top: 10 px;">Thanks for checking the blog!</p>
    <h5 style="margin-top: 100 px;"> - Sumant Reddy (Admin) </h5>
    <p> Feel free to mail any suggestions regarding Blog.. <br>
     Email: reddysumant25@gmail.com </p>

  </div>
{% endblock %}
